.mycolor{
    background-color: rgb(110, 58, 93);
}
.text-shadow {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}
.card-body:hover{
    background-color: rgb(88, 67, 81);
}
.mycolors{
         background: linear-gradient(145deg, #b3738b, #4d755f);
}
